@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-bg: #1B1E25;
  --color-text: hsl(0, 0%, 100%);
  --color-text-secondary: hsl(220, 12.2%, 75.88%);
  --color-accent: hsl(205.24, 73.6%, 61.37%);
  --color-inactive: #636882;
  --color-muted: hsl(218.18 4.98% 43.33% / 30%);
  --color-line: #696D74
}

#root {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: 'Poppins', sans-serif;
  min-height: 100dvh;
}

@layer utilities {
  .size-24 {
    width: 24px;
    height: 24px;
  }

  .size-18 {
    width: 18px;
    height: 18px;
  }

  .size-14 {
    width: 14px;
    height: 14px;
  }
}